RewriteEngine on
RewriteRule ^profile/?$ pages/profile.php [L]
RewriteRule ^free-gems/?$ pages/free-gems.php [L]
RewriteRule ^register/?$ pages/register.php [L]
RewriteRule ^login/?$ pages/login.php [L]
RewriteRule ^reset-password/?$ pages/forgotpass.php [L]
RewriteRule ^topup-card/?$ pages/topup-card.php [L]
RewriteRule ^topup-bank/?$ pages/topup-bank.php [L]
RewriteRule ^download/?$ pages/minecraft-download.php [L]
RewriteRule ^terms/?$ pages/terms.php [L]
RewriteRule ^privacy/?$ pages/privacy.php [L]
RewriteRule ^logout/?$ pages/logout.php [L]